<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<STYLE TYPE="text/css">

</STYLE>
<div id="circle"></div>

<div class="">        
        
    <oj-collapsible id="collapsiblePage" data-oj-binding-provider="none" expanded> 
        
        <h1 slot="header" class="oj-typography-heading-sm oj-header-border">Fee Data</h1>
            
        <oj-form-layout id="ofl1" label-edge="start" max-columns="1" 
            class="oj-form-control-full-width">  
          
            <oj-input-text
              id="house"
              readonly="true"
              value="{{house}}"
              label-hint="House:">              
            </oj-input-text> 

            <oj-input-text
              id="fee"
              readonly="true"
              value="{{year}}"
              label-hint="Fee:">              
            </oj-input-text>            

        </oj-form-layout> 
        
    </oj-collapsible>   
    
    <oj-collapsible id="collapsiblePage" data-oj-binding-provider="none" expanded> 
        
        <h1 slot="header" class="oj-typography-heading-sm oj-header-border">Payment Data</h1>
            
        <oj-form-layout id="ofl1" label-edge="start" max-columns="1" 
            class="oj-form-control-full-width">  
          
            <oj-select-single 
                id="neighbor" 
                label-hint="Neighbor"                    
                value="{{neighbor}}"                        
                required
                item-text="[[getItemText]]"                        
                data="[[neighbors]]">
                <template slot="itemTemplate" data-oj-as="item">
                    <oj-list-item-layout>     
                        <span>
                            <oj-bind-text value="[[item.data.name]]"></oj-bind-text>                        
                        </span>
                    </oj-list-item-layout>
                </template>
            </oj-select-single>
            
            <oj-input-number
                id="amount"
                value="{{amount}}"
                label-hint="Amount"
                required="required" 
                min="0"
                disabled='{{disableControls}}'
                max="9999999"
                step="0">              
            </oj-input-number> 
            
            <oj-checkboxset
                id="totalAmount"                
                label-hint=" "              
                value="{{totalAmount}}">
                <oj-option value="total">Total amount</oj-option>
            </oj-checkboxset>
         

        </oj-form-layout> 
        
    </oj-collapsible> 
    
</div>
              
</div>    

<br/>

<div slot="footer" style="text-align:right">
    <oj-button id="deleteButton" chroming="danger" on-oj-action="[[]]" class="oj-button-danger-chrome">
        Delete
    </oj-button>
    <oj-button id="saveButton" chroming="callToAction" on-oj-action="[[submitFee]]">
        Save
    </oj-button>
</div>

 <!-- Messages -->
<oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
</oj-messages>