<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<STYLE TYPE="text/css">

</STYLE>
<div id="circle"></div>

<div class="">                
    
    <oj-collapsible id="collapsiblePage" data-oj-binding-provider="none" expanded> 
        
        <h1 slot="header" class="oj-typography-heading-sm oj-header-border">Payment Data</h1>                
            
        <oj-form-layout id="ofl1" label-edge="start" max-columns="1" 
            class="oj-form-control-full-width"> 
            
            <oj-input-text
              id="house"
              readonly="true"
              value="{{house}}"
              label-hint="House:">              
            </oj-input-text> 
            
            <oj-input-text
                id="number"
                value="{{number}}"
                label-hint="Number:"                                 
                readonly>              
            </oj-input-text>
            
            <oj-bind-if test="[[id]]">                  
                <oj-input-text
                    id="datetime"
                    value="{{datetime}}"
                    label-hint="Datetime:"                                 
                    readonly>              
                </oj-input-text>
            </oj-bind-if>             
          
            <oj-bind-if test="[[isAdmin]]"> 
                <oj-select-single 
                    id="neighbor" 
                    label-hint="Neighbor:"                    
                    value="{{neighbor}}"                        
                    required    
                    disabled="[[disabled]]"
                    item-text="[[getItemText]]"                        
                    data="[[neighbors]]">
                    <template slot="itemTemplate" data-oj-as="item">
                        <oj-list-item-layout >     
                            <span>
                                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>                        
                            </span>
                        </oj-list-item-layout>
                    </template>
                </oj-select-single>
            </oj-bind-if>
            
            <oj-bind-if test="[[isAdmin() === false]]"> 
                <oj-select-single 
                    id="neighbor" 
                    label-hint="Neighbor:"                    
                    value="{{neighbor}}"                        
                    required    
                    readonly="true"
                    item-text="[[getItemText]]"                        
                    data="[[neighbors]]">
                    <template slot="itemTemplate" data-oj-as="item">
                        <oj-list-item-layout >     
                            <span>
                                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>                        
                            </span>
                        </oj-list-item-layout>
                    </template>
                </oj-select-single>                         
            </oj-bind-if>
            
            <oj-bind-if test="[[hasDebts]]">
                    <oj-checkboxset
                        label-hint="Debts:"
                        required
                        readonly="[[disabled]]"
                        options="{{debtList}}"
                        value="{{selectedDebts}}">                        
                    </oj-checkboxset>               
            </oj-bind-if>    
                        
            <oj-checkboxset
                label-hint="Fees:"
                required
                readonly="[[disabled]]"
                options="{{feeList}}"
                value="{{selectedFees}}">                        
            </oj-checkboxset>                        
            
            <oj-input-number
                id="amount"
                value="{{totalAmount}}"
                label-hint="Amount:"
                required="required" 
                readonly="[[disabled]]"
                min="0"
                readonly="[[isAdmin?'':'readonly']]"                
                max="9999999"
                step="0">              
            </oj-input-number>                                     

        </oj-form-layout> 
        
    </oj-collapsible> 
    
</div>
              
</div>    

<br/>

<div slot="footer" style="text-align:right">
        
    <oj-progress id="progressCircle" type="circle" style="display:none" value="-1"></oj-progress>
    
    <oj-button id="backButton" on-oj-action="[[goToFees]]" class="">
        Back
    </oj-button>
    
    <oj-bind-if test="[[isAdmin]]"> 
        <oj-button id="deleteButton" chroming="danger" on-oj-action="[[removePayment]]" class="oj-button-danger-chrome">
            Delete
        </oj-button>
        <oj-button id="saveButton" chroming="callToAction" on-oj-action="[[submitFee]]">
            Save
        </oj-button>
    </oj-bind-if>        
    
</div>

 <!-- Messages -->
<oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
</oj-messages>